@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}


.header {
  background-color: black;
  height: 90px;
  width: 100vw;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .logo {
  font-weight: 100;
  font-family: Pacifico;
  font-size: 54px;
}


.header .navegacao {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.header .infos {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.header .infos::after{
  position: absolute;
  content: '';
  width: 85%;
  left: 10px;
  bottom: 8px;
  border-bottom: 4px solid #E69C35;
  transform: translateX(-160px);
}

.header .infos:hover::after {
  opacity: 1;
  transform: translateX(0);
  transition: 0.6s;
}

.header .btnHe {
  padding: 12px 24px;
  background-color: #E69C35;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.header .btnHe:hover {
  color: black;
  transition: 0.3s;
}

.hero {
  min-height: 100vh;
  width: 100vw;
  image-rendering: pixelated;
}

.sobre {
  position: relative;
  min-height: 550px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
}

.sobre .titleSobre {
  position: relative;
  width: 620px;
  height: 80px;
  display: flex;
  margin-right: 100px;
  justify-content: center;
  align-items: center;

  & h2 {
    font-size: 40px;
    color: #2a2e62;
    font-weight: 500;
  }
}


.agendeBtn {
  position: absolute;
  bottom: 0;
  background: linear-gradient(270deg, #f59313 0%, #f78664 50%, #7e29ac 100%);
  height: 40px;
  width: 30%;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
}

.agendeBtn:hover {
  background: linear-gradient(270deg, #7e29ac 0%, #f78664 50%, #f59313 100%);
  color: black;
}

.atividades {
  position: relative;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: -200px;
}

.atividades h1 {
  color: #f18c00;
}

.containerCards {
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.cards {
  bottom: 0;
  height: 350px;
  width: 350px;
  border-radius: 5px;
}

.cards:hover{
  scale: 1.1;
  transition: 0.9s;
}
.atividades .treino {
  height: 40px;
  color: white;
  width: 20%;
  border: none;
  border-radius: 40px;
  font-size: 10px;
  background: linear-gradient(270deg, #f59313 0%, #f78664 50%, #7e29ac 100%);
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.treino:hover {
  background: linear-gradient(270deg, #7e29ac 0%, #f78664 50%, #f59313 100%);
  color: black;
}

.hidden{
  opacity: 0;
  transform: translateX(-100px)
}

.show{
  opacity: 1;
  transform: translateX(0);
  transition: 1s;
}






























.planos {
  padding: 60px 20px;
  background-color: #000;
}

.container {
  max-width: 50vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: #f1f1f1;
  border-radius: 14px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
}

.card:hover{
  scale: calc(1.1);
  transition: 0.6s;
}
.card h4 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #444;
}

.card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #222;
}

.descricao {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.saiba {
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

.plano-box {
  border: 1px solid #2e2a40;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.plano-top {
  background: #2e2a40;
  color: white;
  padding: 10px;
  font-weight: 600;
}

.vezes {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.preco {
  font-size: 36px;
  color: #f28c28;
  margin: 10px 0;
}

.obs {
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
}

.btn {
  display: block;
  background: #18c964;
  color: #000;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #14b358;
  color: #1b26bf;
}

.aviso {
  font-size: 10px;
  color: #777;
}

.metod {
  padding: 60px 200px;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.metod h1 {
  color: #f28c28;
}

.imgInfo {
  display: flex;
  gap: 20px;
  width: 70vw;
  height: 300px;
}

.fique {
  width: 280px;
  height: 280px;
}


.footer-section {
  background: #000;
  color: #fff;
  padding: 80px 0 40px;
  font-family: 'Inter', sans-serif;
}

.footer-section .container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.footer-section .col {
  flex: 1;
}

.footer-section h2 {
  font-weight: 100;
  font-family: Pacifico;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.social {
  margin-top: 20px;
}

.social a {
  color: #fff;
  margin-right: 15px;
  font-size: 18px;
  transition: 0.3s;
}

.social a:hover {
  color: #f28c18;
}

.footer-bottom {
  background: #f28c18;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 13px;
}